openapi: 3.2.0
info:
  title: Digits Connect Connections API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Connections
  description: Connected data sources feeding the ledger.
paths:
  /connections/sources:
    get:
      tags:
      - Connections
      operationId: connectionSourceServiceList
      summary: List connected data sources
      responses:
        '200':
          description: A list of connected sources.
          content:
            application/json:
              schema:
                type: object
  /connections/sources/sync:
    post:
      tags:
      - Connections
      operationId: connectionSourceServiceSync
      summary: Sync a connected data source
      responses:
        '200':
          description: Sync accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResult'
components:
  schemas:
    SyncResult:
      type: object
      properties:
        accepted:
          type: integer
        deduplicated:
          type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
