openapi: 3.2.0
info:
  title: Digits Connect Webhooks API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Webhooks
  description: Event delivery to partner-configured endpoints.
paths:
  /webhooks/events:
    post:
      tags:
      - Webhooks
      operationId: receiveWebhookEvent
      summary: Webhook event delivery (partner-hosted)
      description: Digits POSTs a JSON event body to the partner-configured webhook endpoint. Documented here for reference; the partner hosts this endpoint and acknowledges with a 2xx response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
      responses:
        '200':
          description: Event acknowledged.
components:
  schemas:
    WebhookEvent:
      type: object
      properties:
        type:
          type: string
        created_at:
          type: string
          format: date-time
        data:
          type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
