openapi: 3.2.0
info:
  title: Digits Connect Parties API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Parties
  description: Vendors, suppliers, customers, and other business relationships.
paths:
  /ledger/parties:
    get:
      tags:
      - Parties
      operationId: ledgerPartyServiceList
      summary: List parties
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: A page of parties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyList'
  /ledger/parties/{partyId}:
    get:
      tags:
      - Parties
      operationId: ledgerPartyServiceGet
      summary: Get a party
      parameters:
      - name: partyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single party.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Party'
components:
  parameters:
    PageToken:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: Cursor token from a previous response for the next page.
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: Maximum number of items to return per page.
  schemas:
    Party:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        kind:
          type: string
          enum:
          - vendor
          - customer
          - other
    PartyList:
      type: object
      properties:
        parties:
          type: array
          items:
            $ref: '#/components/schemas/Party'
        next_page_token:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
