openapi: 3.1.0
info:
  title: Digits Llms.txt .well Known API
  description: Digits is the world's first Agentic General Ledger (AGL) — AI-powered accounting software that auto-books 95%+ of transactions in real time. This document describes publicly available endpoints on digits.com. For the full Digits product API, visit https://digits.com/api or request a demo at https://digits.com/demo.
  version: 1.0.0
  contact:
    name: Digits
    url: https://digits.com/demo
  x-logo:
    url: https://digits.com/favicon/favicon.svg
servers:
- url: https://digits.com
  description: Digits marketing site
tags:
- name: .well Known
paths:
  /.well-known/mcp.json:
    get:
      operationId: getMcpConfig
      summary: MCP metadata (legacy)
      description: Returns MCP (Model Context Protocol) site metadata for AI client discovery. This is the legacy informal format. For the spec-compliant MCP Server Card, see /.well-known/mcp/server.json.
      responses:
        '200':
          description: MCP configuration
          content:
            application/json:
              schema:
                type: object
      tags:
      - .well Known
  /.well-known/mcp/server.json:
    get:
      operationId: getMcpServerCard
      summary: MCP Server Card (SEP-1649)
      description: Returns the MCP Server Card following the official registry schema (SEP-1649). Used by AI agent readiness scanners, the MCP registry, and compatible AI clients for server discovery. Also served at /.well-known/mcp/server-card.json.
      responses:
        '200':
          description: MCP Server Card
          content:
            application/json:
              schema:
                type: object
                required:
                - name
                - description
                - version
                properties:
                  $schema:
                    type: string
                  name:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  version:
                    type: string
                  websiteUrl:
                    type: string
                    format: uri
                  icons:
                    type: array
      tags:
      - .well Known
