openapi: 3.2.0
info:
  title: Digits Connect Chart of Accounts API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Chart Of Accounts
  description: Ledger categories and dimensional axes (departments, locations, projects).
paths:
  /ledger/categories:
    get:
      tags:
      - Chart Of Accounts
      operationId: ledgerCategoryServiceList
      summary: List ledger categories (chart of accounts)
      responses:
        '200':
          description: A list of ledger categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
  /ledger/departments:
    get:
      tags:
      - Chart Of Accounts
      operationId: ledgerDepartmentServiceList
      summary: List departments
      responses:
        '200':
          description: A list of departments.
          content:
            application/json:
              schema:
                type: object
  /ledger/locations:
    get:
      tags:
      - Chart Of Accounts
      operationId: ledgerLocationServiceList
      summary: List locations
      responses:
        '200':
          description: A list of locations.
          content:
            application/json:
              schema:
                type: object
  /ledger/projects:
    get:
      tags:
      - Chart Of Accounts
      operationId: ledgerProjectServiceList
      summary: List projects
      responses:
        '200':
          description: A list of projects.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
    CategoryList:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
