openapi: 3.2.0
info:
  title: Digits Connect Financial Statements API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Financial Statements
  description: Balance Sheet, P&L, Cash Flow, Trial Balance, aging reports, and summaries.
paths:
  /ledger/statements/balance-sheet:
    get:
      tags:
      - Financial Statements
      operationId: ledgerStatementsServiceBalanceSheet
      summary: Get the balance sheet
      parameters:
      - $ref: '#/components/parameters/AsOfDate'
      responses:
        '200':
          description: Balance sheet statement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
  /ledger/statements/profit-and-loss:
    get:
      tags:
      - Financial Statements
      operationId: ledgerStatementsServiceProfitAndLoss
      summary: Get the profit and loss statement
      parameters:
      - $ref: '#/components/parameters/StartDate'
      - $ref: '#/components/parameters/EndDate'
      responses:
        '200':
          description: Profit and loss statement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
  /ledger/statements/cash-flow:
    get:
      tags:
      - Financial Statements
      operationId: ledgerStatementsServiceCashFlow
      summary: Get the cash flow statement
      parameters:
      - $ref: '#/components/parameters/StartDate'
      - $ref: '#/components/parameters/EndDate'
      responses:
        '200':
          description: Cash flow statement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
  /ledger/statements/trial-balance:
    get:
      tags:
      - Financial Statements
      operationId: ledgerStatementsServiceTrialBalance
      summary: Get the trial balance
      parameters:
      - $ref: '#/components/parameters/AsOfDate'
      responses:
        '200':
          description: Trial balance statement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
  /ledger/statements/ap-aging:
    get:
      tags:
      - Financial Statements
      operationId: ledgerStatementsServiceApAging
      summary: Get accounts payable aging
      responses:
        '200':
          description: A/P aging report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
  /ledger/statements/ar-aging:
    get:
      tags:
      - Financial Statements
      operationId: ledgerStatementsServiceArAging
      summary: Get accounts receivable aging
      responses:
        '200':
          description: A/R aging report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
  /ledger/summarize:
    post:
      tags:
      - Financial Statements
      operationId: ledgerSummaryServiceSummarize
      summary: Summarize ledger data
      description: Aggregate and summarize ledger data across dimensions and periods.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Ledger summary.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Statement:
      type: object
      properties:
        name:
          type: string
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        lines:
          type: array
          items:
            type: object
  parameters:
    EndDate:
      name: end_date
      in: query
      required: false
      schema:
        type: string
        format: date
    StartDate:
      name: start_date
      in: query
      required: false
      schema:
        type: string
        format: date
    AsOfDate:
      name: as_of
      in: query
      required: false
      schema:
        type: string
        format: date
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
