openapi: 3.2.0
info:
  title: Digits Connect Transactions API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Transactions
  description: Read AI-categorized ledger transactions and journal entries.
paths:
  /ledger/transactions/entries:
    get:
      tags:
      - Transactions
      operationId: ledgerTransactionServiceEntries
      summary: List ledger transaction entries
      description: Returns categorized ledger entries from the AGL. Cursor-paginated.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: A page of ledger entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
  /ledger/transactions/query:
    post:
      tags:
      - Transactions
      operationId: ledgerTransactionServiceQueryEntries
      summary: Query ledger transaction entries
      description: Query entries by date range, category, party, or dimension filters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionQuery'
      responses:
        '200':
          description: Matching ledger entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
  /ledger/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      operationId: ledgerTransactionServiceGetTransaction
      summary: Get a ledger transaction
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single ledger transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          description: Transaction not found.
components:
  schemas:
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        next_page_token:
          type: string
    TransactionQuery:
      type: object
      properties:
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        category_id:
          type: string
        party_id:
          type: string
        page_size:
          type: integer
        page_token:
          type: string
    Transaction:
      type: object
      properties:
        id:
          type: string
        external_id:
          type: string
        date:
          type: string
          format: date
        description:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
        category_id:
          type: string
        party_id:
          type: string
    Money:
      type: object
      properties:
        amount:
          type: integer
          description: Minor units (e.g. cents).
        currency_code:
          type: string
          example: USD
  parameters:
    PageToken:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: Cursor token from a previous response for the next page.
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
      description: Maximum number of items to return per page.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
