openapi: 3.2.0
info:
  title: Digits Connect Sources API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Sources
  description: Push raw source data into the AGL for enrichment and categorization.
paths:
  /sources/transactions/sync:
    post:
      tags:
      - Sources
      operationId: sourceTransactionServiceSync
      summary: Sync source transactions into the AGL
      description: Push raw transactions to the Autonomous General Ledger for vendor research, enrichment, and automatic categorization. Idempotent and deduplicated via external_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTransactionSync'
      responses:
        '200':
          description: Sync accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResult'
  /sources/parties/sync:
    post:
      tags:
      - Sources
      operationId: sourcePartyServiceSync
      summary: Sync source parties into the AGL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncBatch'
      responses:
        '200':
          description: Sync accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResult'
components:
  schemas:
    SyncResult:
      type: object
      properties:
        accepted:
          type: integer
        deduplicated:
          type: integer
    SourceTransactionSync:
      type: object
      required:
      - transactions
      properties:
        transactions:
          type: array
          items:
            type: object
            required:
            - external_id
            properties:
              external_id:
                type: string
                description: Idempotency/dedupe key.
              date:
                type: string
                format: date
              description:
                type: string
              amount:
                $ref: '#/components/schemas/Money'
    SyncBatch:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              external_id:
                type: string
    Money:
      type: object
      properties:
        amount:
          type: integer
          description: Minor units (e.g. cents).
        currency_code:
          type: string
          example: USD
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
