openapi: 3.2.0
info:
  title: Digits Connect Organizations API
  version: 1.0.0
  description: The Digits Connect API provides programmatic access to the Autonomous General Ledger (AGL), Digits' AI-native general ledger.
  contact:
    name: Digits Developer
    url: https://developer.digits.com
  license:
    name: Proprietary
    url: https://digits.com
servers:
- url: https://connect.digits.com/v1
  description: Digits Connect API production base URL
security:
- OAuth2: []
tags:
- name: Organizations
  description: Accounting-firm organizations, clients, entities, and employees.
paths:
  /organizations/clients:
    get:
      tags:
      - Organizations
      operationId: organizationClientServiceList
      summary: List an organization's client books
      responses:
        '200':
          description: A list of client organizations.
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Organizations
      operationId: organizationClientServiceCreate
      summary: Create a client book
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Client created.
  /organizations/clients/bulk:
    post:
      tags:
      - Organizations
      operationId: organizationClientServiceBulkCreate
      summary: Bulk-create client books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Bulk create result.
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code grant.
      flows:
        authorizationCode:
          authorizationUrl: https://connect.digits.com/v1/oauth/authorize
          tokenUrl: https://connect.digits.com/v1/oauth/token
          scopes:
            ledger.read: Read ledger data and statements
            ledger.write: Sync source data into the ledger
